
.logoImg {
  height: 100px;
  width: 500px;
}

.logoDiv {
  margin: 10px auto 30px auto;
  width: fit-content;
}

.tableDiv {
  padding: 30px 5% 0 5%;
}

.emptyDiv {
  border-bottom: 2px solid rgb(156, 154, 154);
}